* {
    margin: 0;
    padding: 0;
}

/** 头部 **/

header {
    width: 100%;
    height: 70px;
    background: #232323;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:0px 6px 2px -6px rgb(126, 125, 125);
    position: fixed;
    top: 0;
    z-index: 1;
}

header nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    color: #7b959c;
    text-decoration: none;
}

header a:hover {
    color: #00a6f1;
}


/** 内容 **/

main .main_page {
    width: 100%;

    color: white;
    border-bottom: #232323;
}


main .main_page .title {
    font-size: 2.5em;
    margin-top:30px;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

main .main_page .p {
    margin-top: 2%;
}

footer {
  width: 100%;
  background: #413d3c;
  color: #fff;
}

footer .footercontainer p {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

footer .sub-banner {
  text-align: center;
  /* padding-top: 15px; */
  padding-bottom: 10px;
  color: #cfd0d0;
  font-size: 30px;
}

.borderline {
  border: 1px solid #fff;
  width: 80%;
  margin: auto;
}

@media only screen and (min-width: 780px) {
  main #page_1 #img_content .card {
    margin: 0 50px;
    width: 20%;
  }
  main #page_1 #img_content .card i{
    font-size: 120px;
  }
  footer .banner {
    width: 32%;
    /* height: 110px; */
    margin: auto;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    /* background-size: 116px 116px;
    padding-left: 120px; */
    padding-top: 3%;
    background-size: 116px 170px;
    padding-left: 120px;
    padding-bottom: 2%;
  }

  footer .banner .feidian {
    font-size: 48px;
    line-height: 64px;
  }

  footer .banner p {
    font-size: 32px;
  }
}

@media only screen and (max-width: 780px) {
  main #page_1 #img_content .card i{
    font-size: 40px;
  }
  footer .banner {
    width: 100%;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    padding-top: 3%;
    background-size: 100px 90px;
    padding-bottom: 3%;
    text-align: center;
    margin-left: 8%;
  }

  footer .banner .feidian {
    font-size: 20px;
    line-height: 40px;
  }

  footer .banner p {
    font-size:18px;
  }
  footer .sub-banner{
    font-size: 14px;
  }
}
/* footer {
    width: 100%;
    height: 130px;
    line-height: 200%;
    background: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

footer #footer_1 {
    margin-top: 10px;
    font-size: 30px;
    line-height: 50px;
}

footer #footer_2 {
    height: 5px;
    width: 100%;
    border-bottom: 1px solid white;
} */