main #page_2 {
    background: #03a9f4;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main #page_2 #tech_content {
    width: 90%;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

main #page_2 #tech_content .leftbar {
    display: flex;
    flex-direction: column;
}

main #page_2 #tech_content .navbar {
    background: #232323;
    color: #03a9f4;
    width: 300px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    line-height: 160%;
}

main #page_2 #tech_content #squre {
    padding-top:70px;
    padding-left: 60px;
}

.style{
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;/*定义图像的3D*/
    animation: xuanzhuan 10s cubic-bezier(0.0,0.0,0.0,0.0) infinite forwards;
}
@keyframes xuanzhuan{
    0%{
        transform:perspective(1000px) rotatex(0deg)rotatey(0deg)rotatez(0deg);/*perspctive定义视距*/
    }
    10%{
        transform:perspective(1000px) rotatex(90deg)rotatey(0deg)rotatez(0deg);
    }
    20%{
        transform:perspective(1000px) rotatex(90deg)rotatey(0deg)rotatez(90deg);
    }
    30%{
        transform:perspective(1000px) rotatex(180deg)rotatey(0deg)rotatez(90deg);
    }
    40%{
        transform:perspective(1000px) rotatex(180deg)rotatey(90deg)rotatez(90deg);
    }
    50%{
        transform:perspective(1000px) rotatex(270deg)rotatey(90deg)rotatez(90deg);
    }
    60%{
        transform:perspective(1000px) rotatex(270deg)rotatey(90deg)rotatez(90deg);
    }
    80%{
        transform:perspective(1000px) rotatex(0deg)rotatey(0deg)rotatez(0deg);
    }
    100%{
        transform:perspective(1000px) rotatex(0deg)rotatey(0deg)rotatez(0deg);
    }
}
.style>div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 50px;
    text-align: center;
    line-height: 200px;
    border-radius: 50%;
}
.one{
    background-color:#41b883;
    border: 1px solid white;
    transform: translatez(100px);/*translatez距离中心轴距离*/
}
.two{
    background-color: green;
    border: 1px solid white;
    transform: rotatex(90deg) translatez(100px);
}
.three{
    background-color: red;
    border: 1px solid white;
    transform: rotatex(180deg) translatez(100px);
}
.four{
    background-color: #00758f;
    border: 1px solid white;
    transform: rotatex(270deg) translatez(100px);
}
.five{
    background-color: orange;
    border: 1px solid white;
    transform: rotatey(90deg) translatez(100px);
}
.six{
    background-color: purple;
    border: 1px solid white;
    transform: rotatey(270deg) translatez(100px);
}

@media screen and (max-width: 450px) {
    main #page_2 #tech_content {
        flex-direction: column;
    }
}
