
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>星科工作室 - 山东协和学院一IT技术团队</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="山东协和学院第一技术团队">
    <meta name="keywords" content="山东协和学院，技术团队，前端，Java，iOS，信息安全">
<link rel="shortcut icon" href="assets/xingke.ico">
<link href="css/bundle.css" rel="stylesheet">
<link rel="stylesheet" href="css/font/iconfont.css">
<style>
  .beian{
      width: 300px;
      height: 20px;

      position: absolute;
margin-left: 50%;
transform: translateX(-60px);
      margin-top: -28px;

  }
  .members-images{
      width: 200px;
      height: 140px;
  }
</style>
</head>
<body>
    <div id="root"></div>
    <div class="beian"><a href="http://www.beian.miit.gov.cn/"><img src="images/badge.png" alt="">鲁ICP备19064999号</a></div>
     <script src="js/getscript">
     </script>
     <script src="js/api.js"></script>
    <script type="text/javascript" src="js/vendors.js">
</script><script type="text/javascript" src="js/main.bundle.js"></script>
<script> 

</script>
</body>
</html>